.p-carousel-prev,
.p-carousel-next {
  background-color: azure !important;
}

.borderRadius {
  border-radius: 8px;
}

.MuiAccordionSummary-root {
  border-radius: 8px !important;
  height: 52px;
}

.MuiCollapse-wrapper {
  padding-top: 12px;
}

.accordion-content {
  margin-left: -130px;
}

.MuiGrid-root {
  margin-left: 0px;
}
