.p-carousel-prev,
.p-carousel-next {
  background-color: azure !important;
}

.borderRadius {
  border-radius: 8px;
}

.MuiAccordionSummary-root {
  border-radius: 8px !important;
  height: 52px;
}

.MuiCollapse-wrapper {
  padding-top: 12px;
}

.accordion-content {
  /* margin-left: -130px; */
  text-align: center;
  width: 50%;
}

.MuiGrid-root {
  margin-left: 0px;
}

img {
  width: 35px;
  height: 30px;
  border-radius: 8px;
}
@media screen and (min-width: 450px) {
  img {
    margin-right: 8px;
  }
}
