.MuiSnackbar-root {
    position: absolute !important;
    top: -603px;
}
@media screen and (min-width: 450px) {
    .MuiSnackbar-root {
        left: 420px !important;
    }
}
.MuiSnackbarContent-root {
    background-color: azure !important;
    color: teal !important;
    font-weight: 600;
}
.MuiSnackbarContent-message {
    font-weight: 600;
}